
/* RESETS */

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.form {
  position: absolute;
  display: flex;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.3);
  width: 90%; /* Usa porcentajes en lugar de un ancho fijo */
  max-width: 600px; /* Establece un ancho máximo para evitar que se vuelva demasiado ancho */
  height: 600px; /* Permitir que la altura se ajuste automáticamente según el contenido */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}
.form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form .container__form,
.form textarea {
  width: 100%; /* Usa porcentajes en lugar de un ancho fijo */
  max-width: 100%; /* Establece un ancho máximo para evitar que se vuelva demasiado ancho */
  padding: 10px;
  box-sizing: border-box;
}
.form .container__form {
  padding: 10px 0;
  width: 100%; /* Puedes ajustar este valor según tus necesidades */
  max-width: 100%; /* Garantiza que no se desborde del contenedor */
}
input[type="text"] {
  margin: 0%;
  width: 100%;
  border: none;
  border-bottom: 2px solid;
  padding: 10px;
  outline: none;
  transition: border-bottom 0.3s ease-in-out;
}

.container__form:focus::before {
  content: ""; /* Agrega un contenido vacío para el pseudo-elemento */
  position: absolute;
  bottom: -2px; /* Ajusta la posición de la línea según tus necesidades */
  left: 0;
  right: 0;
  border-bottom: 8px solid yellow; /* Establece el estilo de la línea */
}
.container {
  
  max-width: 400px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container h1 {
  font-size: 24px; /* Tamaño de fuente para el título */
}

/* Estilos para el botón */
.form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: yellow;
  color: #1e1e1e;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact_message {
  color: #ccc;
  margin-bottom: 20px; /* Agrega margen inferior para separar elementos */
  padding: 10px 0; /* Agrega relleno para un aspecto más limpio */
}

textarea {
  width: 100%;
  height: 200px; /* Ajusta la altura según tus necesidades */
  border-radius: 4px;
  resize: none;
}

.container {
  width: 100%;
}

.inputSubmit {
  margin: 0px;
}

h1 {
  color: antiquewhite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container__form {
  position: relative;
  padding: 10px 0;
  

}

.email {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
.text {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}
